<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head') %> 
<body>
	<%- include('./partials/header') %> 

	<h1>admin</h1>
	<h2>HOLA SOY EL ADMINISTRADOR</h2>
	<%- include('./partials/footer') %> 

</body>
</html>