<header>
    <ul class="ul-nadvar">
        <a href="/"><li>Home</li></a>
        <a href="/about"><li>About</li></a>
        <a href="/music"><li>Music</li></a>
        <a href="/contact"><li>Contact</li></a>
        <a href="/login"><li>Login</li></a>
    </ul>

</header>